body{
    font-family: cursive;
    
}
label{
    color: rgb(0, 252, 168);

}

p{
    color: rgb(0, 252, 168);
}
#parrafo{
    color: rgb(0, 252, 168);
}

select{
    color:rgb(254, 254, 254) ;
    background-color: rgb(0, 91, 156);
    height: 35px;
    width: 175px;
    font: bold;
    font-family: cursive;
    border: 1px solid #000;
    border-radius: 10px;
}

button{
    color:rgb(254, 254, 254) ;
    background-color: rgb(0, 93, 160);
    height: 25px;
    width: 100px;
    font: bold;
    font-family: cursive;
    border: 1px solid #000;
    border-radius: 10px;
}

a[data-custom="mi-enlace"] {
    color:rgb(254, 254, 254) ;
    background-color: rgb(0, 93, 160);
    height: 25px;
    width: 130px;
    font: bold;
    font-family: cursive;
    border: 1px solid #000;
    border-radius: 10px;
  }